# 0. init

In [1]:
import pandas as pd

pd.__version__

'2.3.1'

# 1. Preprocess

In [3]:
# Load data from data folder
df = pd.read_csv("data/raw/training_data.csv")
df

,Unnamed: 0,DA_price_UK_EUR,datetime_UTC,datetime_CET,DA_price_UK_GBP,DA2_price_hourly_UK_GBP,demand_IR,demand_UK,ARPEGE_wind_UK,AROME_wind_UK,...,EURO2_solar_IR,ECMWF_solar_IR,GFS_solar_IR,SPIRE_solar_IR,HARMONIE_wind_UK,HARMONIE_solar_UK,ICONEU_wind_UK,ICONEU_solar_UK,ICONEU_wind_IR,ICONEU_solar_IR
0,31-12-2022 23:30,58.814214,31-12-2022 23:30,1-1-2023 00:30,52.00,NaN,NaN,22763.5,NaN,NaN,...,NaN,0.0000,0.0000,NaN,NaN,0.0000,NaN,0.0,NaN,0.0
1,1-1-2023 00:30,67.862555,1-1-2023 00:30,1-1-2023 01:30,60.00,41.550,3941.257,20565.0,13554.061000,13354.07910,...,0.0000,0.0000,0.0000,NaN,17011.30755,0.0000,14388.68295,0.0,1271.4708,0.0
2,1-1-2023 01:30,55.986608,1-1-2023 01:30,1-1-2023 02:30,49.50,37.500,3787.143,19871.5,13926.815050,13666.28165,...,0.0000,0.0000,0.0000,NaN,17080.39970,0.0000,14072.37565,0.0,986.5683,0.0
3,1-1-2023 02:30,20.358766,1-1-2023 02:30,1-1-2023 03:30,18.00,18.250,3607.336,17977.5,13427.848550,13323.50220,...,0.0000,0.0000,0.0000,NaN,16686.11905,0.0000,13852.11245,0.0,825.5056,0.0
4,1-1-2023 03:30,0.000000,1-1-2023 03:30,1-1-2023 04:30,0.00,-6.850,3471.381,16917.0,12879.295000,13581.71050,...,0.0000,0.0000,0.0000,NaN,16060.91155,0.0000,14175.07555,0.0,689.6008,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22387,21-7-2025 18:30,NaN,21-7-2025 18:30,21-7-2025 20:30,103.50,110.270,5152.000,27641.0,4838.478750,4814.54205,...,23.2388,10.8860,5.0407,1.6277,4744.41560,563.6635,NaN,NaN,NaN,NaN
22388,21-7-2025 19:30,NaN,21-7-2025 19:30,21-7-2025 21:30,102.10,107.020,5008.000,26716.5,4959.294650,4994.74805,...,9.4200,0.0006,3.9898,0.0307,5088.08175,54.5923,NaN,NaN,NaN,NaN
22389,21-7-2025 20:30,NaN,21-7-2025 20:30,21-7-2025 22:30,93.72,93.350,4860.500,25198.0,5244.485800,5318.93135,...,0.0000,0.0000,0.0000,0.0000,5050.25860,NaN,NaN,NaN,NaN,NaN
22390,21-7-2025 21:30,NaN,21-7-2025 21:30,21-7-2025 23:30,83.70,81.295,4639.000,22562.5,5745.867956,5562.25555,...,0.0000,0.0000,0.0000,0.0000,5213.96025,NaN,NaN,NaN,NaN,NaN
22391,21-7-2025 22:30,NaN,21-7-2025 22:30,22-7-2025 00:30,NaN,NaN,NaN,NaN,6247.016500,NaN,...,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns, df.shape

(Index(['Unnamed: 0', 'DA_price_UK_EUR', 'datetime_UTC', 'datetime_CET',
        'DA_price_UK_GBP', 'DA2_price_hourly_UK_GBP', 'demand_IR', 'demand_UK',
        'ARPEGE_wind_UK', 'AROME_wind_UK', 'EURO10_wind_UK', 'EURO2_wind_UK',
        'ECMWF_wind_UK', 'GFS_wind_UK', 'SPIRE_wind_UK', 'ARPEGE_solar_UK',
        'AROME_solar_UK', 'EURO10_solar_UK', 'EURO2_solar_UK', 'ECMWF_solar_UK',
        'GFS_solar_UK', 'SPIRE_solar_UK', 'ARPEGE_wind_IR', 'AROME_wind_IR',
        'EURO10_wind_IR', 'EURO2_wind_IR', 'ECMWF_wind_IR', 'GFS_wind_IR',
        'SPIRE_wind_IR', 'ARPEGE_solar_IR', 'AROME_solar_IR', 'EURO10_solar_IR',
        'EURO2_solar_IR', 'ECMWF_solar_IR', 'GFS_solar_IR', 'SPIRE_solar_IR',
        'HARMONIE_wind_UK', 'HARMONIE_solar_UK', 'ICONEU_wind_UK',
        'ICONEU_solar_UK', 'ICONEU_wind_IR', 'ICONEU_solar_IR'],
       dtype='object'),
 (22392, 42))

In [18]:
def generate_datetime_series(start_date, periods, freq):
    return pd.Series(pd.date_range(start=start_date, periods=periods, freq=freq))

# Generate datetime series with hourly frequency that starts at 31-12-2022 23:30:00
date_rng = generate_datetime_series('31-12-2022 23:30:00', 933*24, 'h')

# Check if datetime_UTC column is valid by comparing it with the generated date_rng
df['datetime_UTC'] = pd.to_datetime(df['datetime_UTC'], dayfirst=True)
df['datetime_UTC'].equals(date_rng)

True

In [12]:
202+365+366

933

In [13]:
22392/24

933.0